.container {
  width: 100%;
  display: flex;
  column-gap: 60px;
  margin-top: 80px;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.nav {
  display: flex;
  flex-direction: column;
}

.link_wrapper {
  height: 64px;
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
}

.link_active {
  color: #F2F2F3;
}

.link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .box {
    display: none;
  }

  .container {
    margin-top: 50px;
  }
}