.item {
  display: flex;
  flex-direction: column;
  width: 272px;
  justify-items: center;
  position: relative;
  gap: 4px;
  cursor: pointer;
}

.price_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  text-align: center;
}

.item:hover {
  opacity: 0.6;
}

.link {
  text-decoration: none;
  color: #F2F2F3;
}
