.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  margin-top: 180px;
}

.link {
  text-decoration: none;
}