.header {
  width: 100%;
  background-color: #1C1C21;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.navigation {
  display: flex;
  gap: 8px;
  justify-self: flex-start;
}

.link {
  display: flex;
  color: #8585AD;
  cursor: pointer;
  text-decoration: none;
  border-radius: 40px;
  box-shadow: none;
  opacity: 1;
  transition: all 0.2s linear;
}

.link_active {
  color: #F2F2F3;
}

.link:hover {
  opacity: 0.6;
  box-shadow: 0 0 5px 2px #4C4CFF;
}

.logo {
  justify-self: center;
}

.profile {
  justify-self: flex-end;
}

.burger_btn {
  display: none;
}

.burger_layer {
  width: 28px;
  height: 3px;
  background: #f2f2f2;
  margin-bottom: 7px;
  position: relative;
  transition: 0.4s ease;
}

.burger_layer:last-of-type {
  margin-bottom: 0;
}

.burger_btn_transformed {
  position: fixed;
  right: 16px;
  z-index: 10;
  cursor: pointer;
}

.burger_btn_transformed:hover {
  opacity: 0.6;
}

.burger_btn_transformed .burger_layer:nth-of-type(2) {
  opacity: 0; 
  margin-bottom: 0;
}

.burger_btn_transformed .burger_layer:nth-of-type(1) {
  transform: rotate(45deg) scale(1.1);
  margin-bottom: 0;
  top: 3px;
}

.burger_btn_transformed .burger_layer:nth-of-type(3) {
  transform: rotate(-45deg) scale(1.1);
  margin-bottom: 0;
  bottom: 3px;
}

.logo_mini {
  display: none;
}

.profile_nav {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  height: 0;
  overflow: hidden;
  transition: 0.4s ease;
}

.profile_nav_opened {
  height: max-content;
}

.user_link {
  display: flex;
  color: #8585AD;
  cursor: pointer;
  text-decoration: none;
  border-radius: 40px;
  box-shadow: none;
  opacity: 1;
  transition: all 0.2s linear;
}

.user_link_active {
  color: #F2F2F3;
}

.user_link_hover {
  opacity: 0.6;
}

@media screen and (max-width: 1150px) {
  .link {
    flex-direction: column;
    align-items: center;
  }

  .link:not(:first-of-type) {
    padding-left: 5px;
  }

  .link:not(:last-of-type) {
    padding-right: 5px;
  }

  .span {
    text-align: center;
    margin: 0;
  }
}

@media screen and (max-width: 955px) {
  .span {
    font-size: 14px;
  }
}

@media screen and (max-width: 850px) {
  .span {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    justify-content: space-between;
    box-sizing: border-box;
    padding: 12px 20px;
  }

  .container {
   display: none;
   width: 0;
  }

  .logo_mini {
    display: block;
  }

  .link {
    flex-direction: row;
    gap: 8px;
  }
  
  .link:not(:first-of-type) {
    padding-left: 0;
  }

  .link:not(:last-of-type) {
    padding-right: 0;
  }

  .link_arrow {
    content: url(../../images/icon.svg);
    margin-left: 60px;
    max-height: 24px;
    transition: 0.4s ease;
    opacity: 0.5;
  }

  .link_active .link_arrow {
    opacity: 1;
  }

  .link_arrow_transformed {
    transform: rotate(180deg);
  }

  .burger_btn {
   display: flex;
   flex-direction: column;
   cursor: pointer;
 }

  .burger_btn:hover {
   opacity: 0.6;
 }
}

@media screen and (max-width: 320px) {
  .burger_layer {
    width: 22px;
    height: 2.5px;
    margin-bottom: 6.5px;
    transition: 0.4s ease;
  }

  .burger_btn_transformed .burger_layer:nth-of-type(1) {
    top: 2.15px;
  }

  .burger_btn_transformed .burger_layer:nth-of-type(3) {
    bottom: 2.15px;
  }
}
