.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 600px;
  border: solid 1px;
}

.scrollbox {
  min-height: 100px;
  max-height: 448px;
  display: grid;
  overflow-y: scroll;
}

.scrollbox::-webkit-scrollbar {
  width: 8px;
}

.scrollbox::-webkit-scrollbar-track {
  background: #2F2F37;
}

.scrollbox::-webkit-scrollbar-thumb {
  background-color: #8585AD;
  border: 3px solid #8585AD;
}

.infobox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.pricebox {
  display: flex;
  gap: 8px;
  align-items: center;
}

.pricebox svg {
  width: 36px;
  height: 36px;
}

.text {
  text-align: center;
}